.fondo { /*Hay algo en el body que deja un espacio vacio entre la navbar y el fondo.*/
  background-color: white; 
  background-image: url('../vendor/imgs/hangoverflow.png'); 
  background-repeat: repeat; 
  background-size: 74% auto; 
  min-height: 100vh; 
  margin: 0; 
  padding: 0; 
}



.library-container {
  padding: 20px 10vw 2px 10vw;
  text-align: center;
  height: 100%;
}

.iconLibrary {
  width: 3vw;
}

.library-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contaiAyCasiEhTePensasteQueLoIbaADecirFzJajajajajaNadaMeDetendra {
  display: flex;
  justify-content: flex-start;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.library-item {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%; /* Asegura que todos los elementos tengan la misma altura */
}

.library-item img {
  width: 70%;
  height: auto;
}

.item-actions {
  margin-top: 10px;
}

.edit-btn,
.publish-btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  width: 100px;
}

.publish-btn {
  background-color: #28a745;
}

.edit-btn:hover,
.publish-btn:hover {
  opacity: 0.8;
}

.cuadrado {
  background-color: rgba(42, 96, 89, 0.875);
  border-radius: 0px 30px 30px 30px;

}

.filtros {
  background-color: #d1d1d1;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  width: 50%;
  padding: 10px 30px 0px 30px;
  
  justify-content: space-between;
}

.filtericons {
  display: flex;
  gap: 10px;
}
.filter-container {
  background-color: white;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  transition: background-color 0.3s ease;
}

.filter-container.active {
  background-color: rgba(56,117,109,255); /* Color verde cuando está activo */
}

.iconLibrary {
  display: block;
  width: 30px;
  height: 30px;
}


.libraryTitle {
  font-size: 27px;
}