.button {
    background-color: rgba(56, 117, 109, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: rgba(56, 117, 109, 0.8);
  }