.chat-view {
    padding: 20px;
}

.chat-view ul {
    list-style-type: none;
    padding: 0;
}

.chat-view li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.chat-view a {
    text-decoration: none;
    color: #333;
}

.chat-view a:hover {
    background-color: #e9e9e9;
}

.chat-view strong {
    display: block;
    font-size: 1.2em;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
}

button.removeFriend {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.selected-friend{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.selected-friends{
    display: flex;
    flex-direction: row;
}