:root {
  --primary-color: #4CAF50; /* Primary color for inputs, buttons */
  --secondary-color: #f9f9f9; /* Background color for inputs */
  --text-color: #333333; /* Text color for labels and inputs */
  --button-bg: #4CAF50; /* Button background color */
  --button-hover-bg: #45a049; /* Button hover color */
  --button-text-color: white; /* Button text color */
  --border-color: #dddddd; /* Border color for inputs */
  --pattern-color: #000000; /* Default pattern color */
}

.designer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

h2 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--text-color);
}

input[type="color"],
input[type="number"],
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin-top: 5px;
}

.gamer {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 100px;
}

/* Estilos generales del botón en el Designer */
.designer-button {
  background-color: #4CAF50; /* Cambia el color según tu preferencia */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.designer-button:hover {
  background-color: #45a049; /* Cambia el color en hover según tu preferencia */
}


input[type="range"] {
  width: 100px;
  margin: 10px 0;
}

.uploaded-image-container {
  position: relative;
  margin-top: 10px;
}

.uploaded-image {
  max-width: 300px;
  max-height: 333px;
  z-index: 15;
}

.shirt {
  position: relative;
  width: 300px;
  height: 333px;
}

.shirt-image {
  width: 300px;
  height: auto;
  position: absolute;
  z-index: 14000;
  user-select: none;
  pointer-events: none;
}

.color-overlay,
.pattern-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 333px;
  z-index: 0;
}

.pattern-overlay.stripes {
  background: repeating-linear-gradient(
    45deg,
    var(--pattern-color),
    var(--pattern-color) 10px,
    transparent 10px,
    transparent 20px
  );
}

.pattern-overlay.dots {
  background: radial-gradient(var(--pattern-color) 10%, transparent 10%);
  background-size: 20px 20px;
}

.pattern-overlay.diagonal-stripes {
  background: repeating-linear-gradient(
    135deg,
    var(--pattern-color),
    var(--pattern-color) 10px,
    transparent 10px,
    transparent 20px
  );
}

.pattern-overlay.grid {
  background: linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--pattern-color) 1px, transparent 1px);
  background-size: 20px 20px;
}

.pattern-overlay.zigzag {
  background: linear-gradient(
    135deg,
    var(--pattern-color) 25%,
    transparent 25%
  ),
  linear-gradient(225deg, var(--pattern-color) 25%, transparent 25%);
  background-size: 20px 20px;
}

.text-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
}

.shape-overlay {
  position: absolute;
  z-index: 11;
}

.shape-overlay.square {
  background-color: red;
  pointer-events: all;
}

.shape-overlay.circle {
  background-color: blue;
  border-radius: 50%;
}

.shape-overlay.rectangle {
  background-color: green;
}

.shape-overlay.triangle {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid yellow;
}

.shape-overlay.diamond {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: purple;
  position: relative;
  top: -25px;
}

.rnd {
  border: 1px dashed var(--border-color);
}

.drawing-line {
  background-color: var(--drawing-color);
  z-index: 2000;
  position: absolute;
  border-radius: 50%;
}

.preview {
  position: relative;
  user-select: none;
  width: 300px;
  height: 333px;
}
