.container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
  margin-top: 4rem;
}
body{
  overflow-x: hidden;
}
.contentWrapper {
  display: flex;
  max-width: 1200px;
  background-color: white;
  border-radius: 10px;
}
.imageSection {
  display: flex;
  padding: 20px;
}
.thumbnails {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  
}
.thumbnail {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-radius: 0.7rem;
}
.thumbnail:hover{
  cursor: pointer;
}
.mainImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  padding: 5rem 0.5rem;
  margin: 15px 1px;
  text-align: center;
  position: relative;
  border-radius: 2.6rem;
  border: 3.0px solid rgba(56, 117, 109);
}
.remixButton {
  width: 100%;
}
.infoSection {
  flex: 1;
  padding: 20px;
}
.titleAndButtons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
  margin: 0;
}
.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description {
  color: #666;
  margin-bottom: 20px;
}
.creator {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.creatorImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.creatorInfo h3 {
  margin: 0;
  font-size: 16px;
}
.creatorInfo p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
.commentsSection {
  padding: 0.3vw;
  background-color: #2c7a7b;
  color: white;
  width: 25rem;
  height: 30rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.commentsSection h3 {
  margin-bottom: 10px;
  cursor: pointer;
}
.scrollableComments {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  overflow-x: hidden;
}
.commentsContainer {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}
.scrollableComments::-webkit-scrollbar {
  width: 0.45rem;
}
.scrollableComments::-webkit-scrollbar-track {
  background-color: #00000021;
  border-radius: 2rem;
}
.scrollableComments::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 2rem;
}
.scrollableComments::-webkit-scrollbar-thumb:hover {
  background-color: #181818;
}
.commentsContainer::-webkit-scrollbar-thumb:hover {
  background-color : #181818;
}
.comments {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.commentItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  color: white;
}
.commenterImage {
  width: 26px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}
.commentItem div {
  flex: 1;
}
.commentItem strong {
  font-size: 12px;
}
.commentItem p {
  margin: 5px 0;
  font-size: 12px;
  max-width: 22rem;
}
.replyButton {
  background: none;
  border: none;
  color: #2c7a7b;
  cursor: pointer;
  font-size: 12px;
}
.commentCount {
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
}
.newComment{
display: flex;
justify-content: center;
}
.newCommentText{
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
  background-color: white;
  padding: 0.2vh;
  width: 100rem;
}
.newCommentText img{  
  cursor:pointer;
  transform: scale(0.7);
}
.newCommentText textarea {
  width: 100%;
  min-height: 20px;
  max-height: 100px;
  resize: none;
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.commentTextArea {
  background-color: #2c7a7b;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.corason{
  width: 1rem;
  height: auto;
}

.detayes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  
}