@font-face {
  font-family: 'HangoverFont';
  src: local('HangoverFont'), url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap') format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.centrador{
  display:flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}
.centradorRow{
  display: flex; 
  
  justify-content: space-between;
  width: 80%;
}
#root{
display: flex;
flex-direction: column;
}
.wrapbusqueda { /*hay dos displays*/
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-row: 5; */
  columns: 5;
  
  /* justify-content: center;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.wrapbusqueda-impar {
  display: block;
  grid-auto-rows: 5;
  grid-gap: 10px;
  justify-content: center;
}

.wrapbusqueda-par {
  display: block;
  grid-auto-rows: 5;
  grid-gap: 1px;
  justify-content: center;
  margin-top: 14rem;
}

@media (max-width: 600px) {
  .wrapbusqueda{
    /* grid-template-columns: 1fr; */
    columns: 1;
    /* max-width: 2px;
    max-height: auto; */
  }
  .Recomendados{
    max-width: 10rem
    
  }
  .Seguidos{
    max-width: 10rem
  }
  .card{
    max-width: 200px;
  }
  }

/*  */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  padding: 2rem 0.5rem;
  margin: 15px 1px;
  text-align: center;
  position: relative;
  border-radius: 2.6rem;
  background-color: #ffffff;
  border: 3.0px solid rgba(56, 117, 109);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.card:hover {
  transform: scale(0.97);
}
.headerCointain{
  height: auto;
}
.header {
  
  background-color: rgba(56, 117, 109);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 5;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
  margin-bottom: 5vh;

}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
body{
  margin-top:11vh;
}
li {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: inherit; /* Optional: to inherit the text color */
}

li.busqueda {
  margin-right: auto;
}

.busqueda input[type="search"] {
  border-radius: 9rem;
  width: 100%; /* Make the search input responsive */
  max-width: 300px;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 18px;
}

li a:hover {
  text-shadow: 0.001px 0 0 white;
}

.botonesNavbar {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  justify-content: center; /* Center items when wrapped */
}

.botonesNavbar li {
  margin: 1rem 1rem; /* Adjust margins for better spacing when wrapped */
}

.botonesNavbar a {
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

* {
  font-family: "Quicksand", sans-serif;
}

.menuhamburguesa {
  position: fixed;
  top: 20vh; 
  right: 2vw; 
}

.Botones {
  left: 0;
}

.Recomendados {
  /* display: block; */
  transform-origin: top left;
  transform: rotate(90deg) translate(0,-100%);
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 10px;  
  background-color: rgba(56, 117, 109);
  width: 17rem;
  left: 0;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  position: fixed;
}

.Seguidos {
  display: block;
  transform-origin: top left;
  transform: rotate(90deg) translate(0,-100%);
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 10px; 
  background-color: #255952;
  width: 17rem;
  left: 0;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  position: fixed;
  margin-top: 17.8rem;
}


.wrapper1 {
  display: table;
}

.wrapper2 {
  padding: 50% 0;
  height: 0;
}

/* Media query for smaller screens */
@media screen and (max-width: 1200px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Further adjustments for very small screens */
@media screen and (max-width: 600px) {
  .botonesNavbar {
    flex-direction: column;
    align-items: center;
  }

  .busqueda {
    width: 100%;
  }

  .busqueda input[type="search"] {
    max-width: none;
  }
}