
@font-face {
  font-family: 'HangoverFont';
  src: local('HangoverFont'), url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap') format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.centrador{
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.wrapbusqueda {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 5; 
  columns: 5;
  grid-gap: 10px; 
  justify-content: center;
  padding: 20px; 
  margin-top: 0px; 

}

.wrapbusqueda-impar {
  display: block; /* Ajusta el ancho mínimo y máximo de las columnas */
  grid-auto-rows: 5; /* Tamaño automático de las filas */
  grid-gap: 10px; /* Espacio entre las tarjetas */
  justify-content: center;
  padding: 20px; /* Añade un espacio interior para mejorar la apariencia */
  margin-top: 0px; /* Añade un margen superior para separar del navbar */
}

.wrapbusqueda-par {
  display: block; /* Ajusta el ancho mínimo y máximo de las columnas */
  grid-auto-rows: 5; /* Tamaño automático de las filas */
  grid-gap: 1px; /* Espacio entre las tarjetas */
  justify-content: center;
  margin-top: 265px; 
  margin-left: 10px;
  
}

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    padding: 2rem 0.5rem;
    margin: 15px 1px;
    text-align: center;
    position: relative;
    border-radius: 3rem;
    background-color: #ffffff;
    border: 3.0px solid rgba(56, 117, 109);
 
  }

  /* .cardImpar {
    grid-row-start: span 1; /* Ajusta la posición vertical de las cartas impares */
  /* } */

  /* .cardPar {
    grid-row-start: span 4; /* Deja las cartas pares en su posición predeterminada */
  /* } */ 

  

/* .item.odd{
  padding: 10rem;
} */
/* .item {
  flex: 1 0 200px; /* Tamaño fijo para cada elemento */
  /* margin-bottom: 20px; Margen inferior común para todos los elementos */
/* } */ 
.header {
  background-color: rgba(56, 117, 109);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  position:fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 5; 

}
ul li{
  display: inline;
  margin-right: 20px;
}

li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}
li a:hover {
  text-shadow: 0.001px 0 0 white;
}
*{
  font-family: "Quicksand", sans-serif;
}


.Botones{
 
}

.Recomendados{
  color: rgb(255, 255, 255);
  font-weight: 400;
  transform: rotate(90deg);
  font-size: 10px; 
  background-color: rgba(56, 117, 109);
  width: 15%;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}

.Seguidos{
  color: rgb(255, 255, 255);
  font-weight: 400;
  transform: rotate(90deg);
  font-size: 10px; 
  background-color: #255952;
  width: 15%;
  position: fixed; /* Para mantenerlo fijo en la pantalla */
  left: 0; /* Para pegarlo al límite izquierdo */
  top: 50%; /* Para centrarlo verticalmente */
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}